
html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Patrick Hand', cursive;
	font-size: 	 16px;
	line-height: 1.3;
}


/*  NAV SCROLL  */
.light-nav-scroll {
	background: white !important; ;    /*black;*/
	transition: .7s ease-in-out;

	.nav-link:hover, .fa-cat:hover {
		color: white !important;       /*black;*/
	}
}


.dark-nav-scroll {
	background: black !important; ;    /*black;*/
	transition: .7s ease-in-out;

	.nav-link:hover, .fa-cat:hover {
		color: black !important;       /*black;*/
	}
}


.dark-span {
	background: 	rgba($color_portfolio, 1) !important;     /*black;*/
	color:			white !important;               /*$color_portfolio;*/
	font-weight: 	600;
	transition: 	.7s ease-in-out;
}


/*  OVERLAY  */

.proyect {
	height:   205px;          /*250px;*/
	cursor:   pointer;
	position: relative;
	margin:   15px 0;

	.overlay {
		position: 		  absolute;
		top: 			  0;
		bottom: 		  0;
		left: 			  0;
		right: 			  0;
		height: 		  205px;               /*250px;*/
		width: 			  100%;
		transition:       .6s ease;
		background-color: transparent;

		.text {
			display: none;
			transition: .6s ease;

			span {
				font-size:      14px;         /*17px;*/
				font-weight:    bold;
				background:     black;
				border-radius:  3px;
				padding:        3px 13px;        /*1px 11px;*/
				color:			whitesmoke;
				transition:     .6s ease;
			}

			.cont-ellipsis {
				height: 65px;                  /*68px;*/

				p {
					color:         whitesmoke;
					padding:       10px 15px;
					margin-bottom: 0;
					text-align:    center;
					transition:       .6s ease;
				}

				@include ellipsis-multiline(18, 1, 3, 0);       /*16, 1.2, 3, 0*/
			}

			ul {
				margin: 13px 0 0 0;

				li {
					display: inline-block;

					@include portfolio-icons-style(19px);
				}
			}
		}
	}
}


.proyect:hover .overlay {
	background-color: $color_portfolio;
	border-radius:    .25rem;
}
.proyect:hover .overlay .text {
	height: 		 100%;
	width: 			 100%;       /*95%;*/
	display: 		 flex;
	flex-direction:  column;
	justify-content: center;
	align-items: 	 center;
	/*color: 			 white;
	font-size: 		 10px;*/
	position: 		 absolute;
	top: 			 0;
	left: 			 0;         /*2%;*/
	transition:      .6s ease;

	ul {
		display: 		 flex;
		justify-content: center;
		padding: 		 0;
		margin: 		 13px 0 0 0;
	}
}


#particles-js {
	position: 	fixed; 
	height: 	100vh; 
	width: 		100vw;
	z-index:	1;
}
