
#footer {
	background: black;
	height: 135px;
	font-size: 23px;

	.contenedor {
		width: 100%;
		.row {
			margin-left: 0;
			margin-right: 0;
			padding: 0 30px;
			.right {
				text-align: right;
			}
			a {
				text-decoration: none;
				padding: 1px 5px;
    			margin: 0 7px;
			}
			a:hover {
				color: $color_two_overlay;
				transition: .5s;
			}
			a, span {
				color: $color_portfolio;
				padding: 0 10px;
			}
		}

		.contact_me {
			padding: 20px 0;

			.center {
				text-align: center;

				.social {
					font-size: 40px;

					z-index: 1;
    				position: relative;

					@media (max-width: 575px){
						font-size: 24px;
					}
				}
			}
			a {
				text-decoration: none;
			}
			a:hover {
				color: white;
				transition: .5s;
			}
			a, span {
				color: $color_portfolio;
				padding: 0 15px;
			}
		}
	}
}

/*@media (max-width: 991px){
	#footer {
		font-size: 110%;
		.contenedor {
			.row {
				a, span {
					padding: 0 5px;
				}
			}
		}
	}
}*/

@media (max-width: 768px){
	#footer {
		.contenedor {
			.row {
				.left, .right {
					text-align: center;
				}
			}
		}
	}
}


@media (max-width: 390px){
	#footer {
		.contenedor {
			.row {
				padding: 0 10px;
				a, span {
					padding: 0 2px;
				}
			}
		}
	}
}