
#header {
	height: 188px;
	@include single_media(max-width, $lg - 1px, height, 176px);
	@include single_media(max-width, $bp_500, height, 164px);

	.cont-header {
		height: 100%;

		nav {
			transition: .7s ease-in-out;

			.navbar-brand {
				color:   $color_portfolio;
				padding: 0;

				.fa-cat {
					margin-right: 5px;
					padding:      4px;
				    font-size:    30px !important;
				    color:        $color_portfolio;
					transition:   color .3s ease-in-out, background-color .3s ease-in-out;

				    &:hover {
				    	background:    $color_portfolio;
					    border-radius: 4px;
					    color:         white;
				    }
				}
			}

			.navbar-toggler {
				padding:          3px 6px;
				border-color: 	  $color_portfolio;
				background-color: $color_portfolio;

				&:focus {
					box-shadow: 0 0 0 1px;
					transition: box-shadow .15s ease-in-out;
				}
			}

			#navbarNav ul li {
				padding-top: 0;
				@include single_media(max-width, $lg - 1px, padding-top, 13px);
				@include single_media(max-width, $bp_425, padding-top, 12px);
				@include single_media(max-width, $bp_380, padding-top, 11px);
				@include single_media(max-width, $bp_350, padding-top, 10px);

				a {
					padding:    	0 5px;
					margin-right:   20px;
					border-radius: 	3px;
					color:          $color_portfolio;
					font-size: 	    21px;
					font-weight: 	600;
					transition:     color .3s ease-in-out, background-color .3s ease-in-out;

					@media (max-width: $lg - 1px){
						display:       unset;
						margin-top:    2px;
						margin-bottom: 2px;
						padding:       0 7px;
						background:	   rgba($color_portfolio, .1);
					}
					@include single_media(max-width, $bp_500, font-size, 19px);
					@include single_media(max-width, $bp_425, font-size, 18px);
					@include single_media(max-width, $bp_380, font-size, 17px);

					&:hover {
						background:    $color_portfolio;
					    color: 		   white;
					}
				}
			}
		}

		.text-presentation {
		    position: relative;
		    top:      $nav_height;
		    width:    100%;

		    .contenedor {
				width: 80%;
				@include single_media(max-width, $sm - 1px, width, 95%);

				.bloque {
					text-align: end;
					height: 	auto;
					position: 	relative;
					top: 		23px;		
				}
			}
		}
	}
}