
.text-presentation .contenedor .bloque {

	#name {
		font-size: 50px;
		color:	   $color_portfolio;

		@include single_media(max-width, $lg - 1px, font-size, 45px);
		@include single_media(max-width, $bp_500, font-size, 40px);
		@include single_media(max-width, $bp_425, font-size, 37px);
		@include single_media(max-width, $bp_380, font-size, 34px);
		@include single_media(max-width, $bp_350, font-size, 31px);
	}

	#appointment{
		font-size: 40px;
		color:	   rgba($color_portfolio, .8);

		@include single_media(max-width, $lg - 1px, font-size, 38px);
		@include single_media(max-width, $bp_500, font-size, 34px);
		@include single_media(max-width, $bp_425, font-size, 28px);
		@include single_media(max-width, $bp_380, font-size, 25px);
		@include single_media(max-width, $bp_350, font-size, 23px);
	}

	p {
		display: 	   inline-block;
		font-family:   "Shadows Into Light";
		margin-right:  0;
		margin-bottom: 0;
		font-weight:   600 !important;
		position: 	   relative;
		top:		   4px;

		& > span {
			display: 	  block;
			margin-right: 0.3em;
			float: 		  left;
			line-height:  1;
		}
	}

	span span {
		opacity: 							0;
		backface-visibility: 				visible;
		transition-property: 				all;
		transition-duration: 				660ms;
		transition-timing-function: 		ease-in-out;
		transform-origin: 	 				50% 50% 0px;
		transform: 			 				perspective(1050px) rotateY(0deg) scale(0.5);
		-webkit-transition-property: 		all;
		-webkit-transition-duration: 		660ms;
		-webkit-transition-timing-function: ease-in-out;
		-webkit-transform-origin: 			50% 50% 0px;
		-webkit-transform: 					perspective(1050px) rotateY(0deg) scale(0.5);
		display: 							inline-block;
		line-height:						1;
	}
}