
#me_and_contact {
	background:  	$color_portfolio;
	margin-top: 	$nav_hvalue;
	padding-top: 	$nav_hvalue;
	height:			100vh;

	.contenedor {
		width:   70%;
		height:  100%;
	    padding: 50px;		/*0 50px 50px 55px;*/
	    margin:  auto;
	    z-index: 1;

		@include vertical_center();

		@include single_media(max-width, 850px, width, 83%);
		@include single_media(max-width, $md - 1px, width, 99%);
		@include single_media(max-width, 445px, width, 100%);
		@include single_media(max-width, 445px, padding, 0 20px 30px 25px);
		@include single_media(max-width, 400px, padding, 0px 10px 30px 10px);

		.sub-cont {
			vertical-align: middle !important;
		}

		.me2 {
			display: none;
		}

		@media (max-width: 350px){
			.me2 {
				display:       block !important;
				text-align:    center;
				--bs-gutter-x: 0;
			}
			.me {
				display: none !important;
			}
		}

	    .me span {
			@include section_title(black, white, 110%);
			margin-left: 11px;
		}

	    .row {
	    	height: 100%;

	    	img {
	    		border: 	3px black solid;
	    	}

	    	img, .img_me {
	    		/*height: 300px;
				width:  300px;*/
				@include photo_size(290px);
				@include single_media(max-width, $xl - 1px, "photo_size", 288px);
				@include single_media(max-width, $lg - 1px, "photo_size", 253px);

	    	}

	    	.img_me {
				padding:       0;
				margin-right:  20px;
				margin-bottom: 15px;
				margin-left:   13px;
			}

			p {
				line-height: 1.3;
				text-align:  justify;
				color:       black;
				margin-top:  3px;
			}

			@media (max-width: 1199px){
				img, .img_me {
					/*height: 288px;
					width:  280px;*/
				}

				p {
					font-size:   18px;
					line-height: 1.2;
				}
			}

			@media (max-width: 991px){
				img, .img_me {
					/*height: 253px;
					width:  245px;*/
				}
				.img_me {
					margin-bottom: 7px;
				}
				p {
					font-size:   17px;
					line-height: 1.1;
				}
			}

			@media (max-width: 850px){
				img, .img_me {
					height: 231px;
					width:  223px;
				}
			}

			@media (max-width: 767px){
				img, .img_me {
					height: 224px;
    				width:  215px;
				}
				.img_me {
					margin-right:  14px;
					margin-bottom: 4px;
				}
				p {
					font-size:   16px;
					line-height: 1;
				}
				.me span {
					font-size:   17px;
    				font-weight: 600;
				}
			}

			@media (max-width: 575px){
				img, .img_me {
					height: 170px;
    				width:  170px;
				}
			}

			@media (max-width: 400px){
				img, .img_me {
					height: 138px;
    				width:  138px;
				}
			}

			@media (max-width: 350px){
				img, .img_me {
					height: 180px;
				}
				img {
					width: 180px;
				}
				p {
					font-size: 15px;
				}
				.me span {
					display: flow-root;
					margin:  7px 0;
				}
			}
	    }

	}
}

/*#my_name {
	background:  black;
	color:       white;
	font-size:   110%;
	margin-left: 11px;
}*/