
/* BACKGROUND PICTURE */

@mixin pictBg($my-picture){
	background:				$my-picture;
	background-size: 		cover;
	background-position: 	center;
	background-repeat: 		no-repeat;
}


/* MEDIA QUERIES */

@mixin single_media($min_max, $breakpoint, $property, $value){

	@media ($min_max : $breakpoint){

		@if ($property == "photo_size"){
			height: $value;
			width:  $value * 1.017;
		}
		@else {
			#{ $property }: #{ $value };
		}
	}
}


@mixin photo_size($height){
	height: $height;
	width:  $height * 1.017;
}


/* SECTION TITLES */

@mixin section_title($bg_color, $font_color, $perc){
	background:  $bg_color;
	color:       $font_color;
	font-size:   $perc;
}


/*CENTRAR OBJETOS VERTICALMENTE*/

@mixin vertical_center(){
	position: 			relative;
    display: 			flex;
    flex-direction: 	column;
    flex-wrap: 			wrap;
    justify-content: 	center;
    align-items: 		center;
    align-content: 		center;
}


/* ELLIPSIS MULTILINEA */

@mixin ellipsis-multiline($font-size, $line-height, $lines-to-show, $margin:"0") {
	$height-calc: $font-size * $line-height * $lines-to-show;
	display: block;
	display: -webkit-box;
	font-size: $font-size * 1px;
	line-height: $line-height;
	/* max-height: ($height-calc + $margin) * 1px; */
	overflow: hidden;
	position: relative;
	text-overflow: ellipsis;
	-webkit-line-clamp: $lines-to-show;
	-webkit-box-orient: vertical;

	p:not(:first-of-type) {
		display: none;
	}
}


@mixin portfolio-icons-style($size){
	a {
		margin-left:  	7px;				/*5px*/
		margin-right: 	7px;				/*5px*/
		padding: 	  	1px 6px;         /*3px 10px;*/
		font-size:    	$size;                     /*23px;*/
		font-weight:  	bold;
		color: 		  	whitesmoke; 
		background: 	black;               /*black;*/
		border-radius: 3px;	
		transition:     .6s ease;

		.fa, .fas {
			font-size: $size;      /*23px*/
		}

		&:hover {
			color: 		   black;				/*white*/
			background:    whitesmoke;				/*black*/
			/*border-radius: 3px;*/				/*5px*/
			transition:    .6s ease;
		}
	}
}



