
.modal-opacity {
	background: rgba(white, .85);

	.modal-body {
		font-size: 	18px;
    	margin: 	0 10px;
	}
}

#modal-icons {
	margin: 0;

	li {
		display: inline-block;

		@include portfolio-icons-style(30px);
	}
}

h3 {
	background: 	black;
    padding: 		0 15px;
    border-radius: 	3px;
    color: 			white;
}
