
#portfolio {
	padding-top: $nav_hvalue/2;
	padding-bottom: $nav_hvalue;
	@include single_media(max-width, $bp_350, padding-top, 19px);
	
	.contenedor {
		width: 		80%;
		padding: 	50px;
		margin: 	auto;
		text-align:	center;
		box-shadow:	0 .4rem 2.5rem rgba(0,0,0,.175)!important;

		position: 	relative;
		z-index: 	1;
		@include pictBg(url(../../dist/img/portfolio/white.jpg));

		.cont-title {
			height:	auto;
			@include single_media(max-width, $bp_350, padding-top, 6px);

			.grid-title {
				height: 42px;
				@include single_media(max-width, $bp_425, height, 30px);
				@include single_media(max-width, $bp_380, height, auto);

				span {
					display: block;
					transition: .7s ease-in-out;

					@include section_title(rgba($color_portfolio, .7), white, 141%);
				}
			}
		}

		.row {
			margin-left: 0;
			margin-right: 0;
		}


		@include single_media(max-width, $sm - 1px, width, 90%);
		@include single_media(max-width, $sm - 1px, padding, 45px 30px);

		@media (max-width: $bp_425){
			width: 95%;
    		padding-top: 40px;
    		padding-left: 10px;
    		padding-right: 10px;
		}

		@include single_media(max-width, $bp_380, padding-top, 37px);
	}
}

#detIng, #m_detIng > .modal-dialog > .modal-content {
	@include pictBg(url(../../dist/img/portfolio/det_ingreso.jpg));
}

#rendEsc, #m_rendEsc > .modal-dialog > .modal-content {
	@include pictBg(url(../../dist/img/portfolio/rend_escolar.jpg));
}

#genMus, #genMus2, 
#m_genMus > .modal-dialog > .modal-content, 
#m_genMus2 > .modal-dialog > .modal-content {
	@include pictBg(url(../../dist/img/portfolio/gender.jpg));
}

#precInm, #m_precInm > .modal-dialog > .modal-content {
	@include pictBg(url(../../dist/img/portfolio/property_price.jpg));
}
