
$color_one_overlay: rgb(255, 182, 201);
$color_two_overlay: rgb(80, 24, 81);
$color_overlay:     rgb(224, 116, 165);


/* VARIABLES GLOBALES */


$color_portfolio: rgb(215, 78, 133);

/* BREAKPOINTS */

$xs: 	 0;
$sm:  	 576px;
$md:  	 768px;
$lg:  	 992px;
$xl:  	 1200px;
$xxl: 	 1400px;

$bp_500: 500px;
$bp_425: 425px;
$bp_380: 380px;
$bp_350: 350px;


/* OTRAS */

$nav_height: 54px !important;
$nav_hvalue: 54px;

